[submodule "ResearchReports"]
	path = ResearchReports
	url = https://github.com/tsyu12345/RikkyoMaster-ResearchReports.git



[submodule "ml-agents"]
	path = ml-agents
	url = https://github.com/Unity-Technologies/ml-agents.git
